/* Import the font */
@font-face {
    font-family: "Star_Jedi"; 
    src: url(media/fonts/sw.otf) format("opentype"); 
}

body {
    background-color: rgb(171, 187, 194);
}

h1 {
    color: black;
    font-family: "Star_Jedi";
    letter-spacing: 1.5px;
    line-height: 1.5;
}

p{
    background-color: gray; color: brown;
    font-family:"consolas",sans-serif;
}

#p1{
    color: burlywood;
}

#p2{
    color: blanchedalmond;
}

#p3{
    color: grey;
}

.odd{
    color: red;
}

.even{
    color: blue;
}

/* address fonts */
a{
    color:black;
    font-family:"consolas",sans-serif;
}