/* Import the font */
@font-face {
    font-family: "Star_Jedi"; 
    src: url(media/fonts/sw.otf) format("opentype"); 
}

body {
    background-image:url(media/bg.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

h1 {
    color: white;
    font-family: "Star_Jedi";
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 32px;
}

p{
    background-color: gray; color: brown;
    font-family:"consolas", sans-serif;
    padding: 5px;
}

#p1{
    color: black;
    border-style: dashed;
}

#p2{
    color: black;
}

#p3{
    color: brown;
}

.odd{
    color: red;
}

.even{
    color: blue;
}

/* address fonts */
a{
    color:black;
    font-family:"consolas",sans-serif;
}